
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&display=swap');
        /* Reset default margin/padding and set box-sizing */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Noto Sans', sans-serif;

        }
        /* Basic styling */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            /* background-color: #f4f4f4; */
            background-color: #f1f3f6;
        }
        
        .navbar {
            background-color: #181433;
            height: 56px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .navbar-logo {
            /* font-size: 24px; */
            /* font-weight: bold; */
            margin-left: 10%;
            color: #fff;
        }
        .navbar-logo img {
            height: 40px;
        }
        
        .navbar-search {
            flex-grow: 1;
            margin: 0 20px;
            width: 150px;
            border: none;
            font-size: 1rem;
        }
        .navbar-search input {
            width: 50%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            /* background-color: #e2c402; */

        }
        input:hover {
            border: 2px solid orange;
        }
        .navbar-user {
            display: flex;
            align-items: center;
        }
        .navbar-user .account-dropdown {
            position: relative;
            margin-right: 20px;
        }
        .navbar-user .account-dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .navbar-user .account-dropdown:hover .account-dropdown-content {
            display: block;
        }
        .navbar-user .account-dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .navbar-user .account-dropdown-content a:hover {
            background-color: #f1f1f1;
        }
        .navbar-user a {
            margin-right: 10px;
            color: white;
            text-decoration: none;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .cart-item {
            display: flex;
            align-items: center;
            margin: 10px 0;
            padding: 10px;
            background-color: #fff;
            padding: 20px;
            /* box-shadow: inset; */
            box-shadow: 1px 2px 5px rgba(25, 24, 24, 0.432);
        }
        .cart-item img {
            max-width: 100px;
            margin-right: 20px;
        }
        .cart-item .item-details {
            flex-grow: 1;
            padding: 20px;
        }
        .cart-total {
            margin-top: 20px;
            text-align: right;
        }
        .cart-item button {
            justify-content: end;
            margin-top: 5%;
        }
        
        button{
            /* background: #F99F00; */
            color: white;
            border: none;
            border-radius : 5px;
            padding: 10px 15px;
        }
        .item {
            background-color: rgb(239, 30, 30);
        }
        .order {
            background-color: #038857;
        }

        button:hover {
            transform: scale(1.05);
            cursor: pointer;
            transition: transform 0.15s ease-in-out;
        }
        .order:hover {
            box-shadow: 0px 0px 2px #00ffa1;
        }
        .item:hover {
            box-shadow: 0px 0px 2px 0px rgb(233 15 15);
        }