<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScrantonApprovedGoods</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">

</head>
<body>
    <div class="container">
        <form action="">
            <h1>Login</h1>
            <div class="Login">
                <input type="text" id="userName" placeholder="User name" required onblur="getVal()">
            </div>
            <div class="Login">
                <input type="password" id="pass" placeholder="Password" required onblur="getpass()">
            </div>
            <div class="show">
                <label>
                    <input type="checkbox" onclick="show()">
                    Show Password
                </label>
            </div>
            <button type="submit" class="button" id="checkLogin" onclick="window.location.href = 'front';">
                Login
            </button>
            <!-- <input type="submit" class="button" id="checkLogin" onclick="checkLogin()" value="Login" > -->
            <div class="register_link">
                <p>Don't have an account? <a href="/">Register</a></p>
                
            </div>

        </form>
    </div>
    <script src={{ url_for('static',filename='index.js') }}></script>
    
</body>
</html>