<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScrantonApprovedGoods</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='images/favicon.png') }}" >


</head>
<body>
    <div class="container-register">
        <form action="">
            <h1>Create Account</h1>
            <div class="Login">
                <input type="text" placeholder="User name" required>
            </div>
            <div class="Login">
                <input type="password" placeholder="Password" required>
            </div>
            <div class="Login">
                <input type="password" placeholder="re enter password" required>
            </div>
            <div class="show">
                <label>
                    <input type="checkbox">
                    Show Password
                </label>
            </div>
            <button type="submit" class="button">
                Continue
            </button>
            <div class="register_link">
                <p>Already have an Account? <a href="index">Login</a></p>
            </div>

        </form>
    </div>
    
</body>
</html>